.animatedButton{
    position: relative;
    height: 50px;
    width: 200px;
    font-weight: bold;
    /* overflow: hidden; */
    color: white;
    background-color: #101010;
    border: 1px solid white;
    border-radius: 3px;
}
.animatedButton span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height .6s cubic-bezier(.19,1,.22,1);
}
.animatedButton .insideDiv{
    position: absolute;
    top: calc(100% + 0.5px);
    left: -0.5px;
    width: calc(100% + 1px);
    height: 0%;
    transform: translateY(-100%);
    background-color: white;
    color: black;
    transition: height .6s cubic-bezier(.19,1,.22,1);
}
.animatedButton:hover span{
    color: black;
    transition: color .6s cubic-bezier(.19,1,.22,1);
}
.animatedButton:hover .insideDiv{
    transform: translateY(0%);
    top: -0.5px;
    height: inherit;
    transition: height .6s cubic-bezier(.19,1,.22,1);
}
.animatedButton:hover{
    background-color: white;
    transition: background-color 0s linear 0.25s;
}